# Postgres
DB_HOST=DB_HOST
DB_PORT=5432
DB_USER=DB_USER
DB_PASSWORD=DB_PASSWORD
DB_NAME=DB_NAME

# Server
SERVER_PORT=8000

# Auth
AUTH_SECRET_KEY=AUTH_SECRET_KEY
AUTH_ALGORITHM=AUTH_ALGORITHM
AUTH_ACCESS_TOKEN_EXPIRES_MINUTES=AUTH_ACCESS_TOKEN_EXPIRES_MINUTES
AUTH_REFRESH_TOKEN_EXPIRES_DAYS=AUTH_REFRESH_TOKEN_EXPIRES_DAYS
